.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-container {
  display: flex;
}

.heading {
  padding: 5px;
  border: 1px dashed black;
  cursor: pointer;
}

.tab-body {
  display: flex;
  border: 1px dashed gray;
  height: fit-content;
  padding: 4px;
}

.errors {
  color: red;
  display: block;
  font-size: small;
}
